@inherits LayoutComponentBase

<ElPopup></ElPopup>
<ElLayout EnableAlwaysRender="true" @ref="Blayout" NorthHeight="80">
    <North>
        <AppHeader EnableAlwaysRender="true" @ref="Appheader"></AppHeader>
    </North>
    <Center>
        <div class="main-layout-center">
            <ElCard Shadow="@ShadowShowType.Never" @ref="Bcard" Style="border:none;" EnableAlwaysRender="true">
                <Body>
                    @Body
                </Body>
            </ElCard>
        </div>
    </Center>

    <South>
        <AppFooter></AppFooter>
    </South>
</ElLayout>
<CascadingValue Model="@this">
    @ChildContent
</CascadingValue>

