@inherits HeaderWithBackBase

<div class="@Cls">
    <span class="go-back" @onclick="e=>OnBackClick()">
        <i class="el-icon-back"></i>
    </span>
    <span class="find-password-title">
        @Title
    </span>
</div>