@inherits MainLayoutBase
<ElPopup></ElPopup>
<ElLayout EnableAlwaysRender="true" NorthHeight="80">
    <North>
        <AppHeader EnableAlwaysRender="true"></AppHeader>
    </North>
    <Center>
        <div class="main-layout-center">
            <ElCard Shadow="@ShadowShowType.Never" Style="border:none;" EnableAlwaysRender="true">
                <Body>
                    @Body
                </Body>
            </ElCard>
        </div>
    </Center>

    <South>
        <AppFooter></AppFooter>
    </South>
</ElLayout>
<CascadingValue TValue="MainLayoutBase" Value="@this">
    @ChildContent
</CascadingValue>

