@model Blazui.Community.DTO.BZTopicDto
<html>
<head>
    <title>@Model?.Title - 归档</title>
    <meta name="keywords" content="@Model?.Title, blazor,blazui,admin,blazui.admin,社区,快速,解决问题" />
    <meta name="description" content="@Model?.Title" />
</head>
<body>
    主题页面
    <h1>@Model?.Title</h1>
    <div>
        @Model?.Content
    </div>
</body>
</html>

