@page "/"
@inherits BComponentBase
<div class="container">
    <BLayout EnableAlwaysRender="true" @ref="blayout">
        <Center>
            <BTab TabPosition="@TabPosition.Top" OnActiveTabChanged="ActiveTabChanged" EnableAlwaysRender="true" @ref="btab">
                @foreach (var item in Tabs)
                {
                    <MainContent Title="@item.Title" TopicType="@item.Category" EnableAlwaysRender="true"></MainContent>
                }
            </BTab>
        </Center>
        <East>
            <AppRightLayout></AppRightLayout>
        </East>
    </BLayout>
</div>