@page "/"
@namespace Blazui.Community.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <meta name=”Description” Content=”blazor,netcore,dotnet,webassembly”>
    <title>Blazui-Blazor开发者社区</title>
    <base href="~/" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/_content/Blazui.Markdown/css/editormd.min.css" rel="stylesheet" />
    <!--对 editormd 的默认样式进行更改的文件 -->
    <link href="~/_content/Blazui.Markdown/css/editor.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/codemirror/5.52.0/addon/fold/foldgutter.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/codemirror/5.52.0/codemirror.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/_content/Blazui.Component/css/index.css" />
    <link rel="stylesheet" href="/_content/Blazui.Component/css/fix.css" />
    <link rel="stylesheet" href="~/iconfront/demo.css" />
    <link href="~/iconfront/iconfont.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <script src="_content/Blazui.Component/js/dom.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="/_content/Blazui.Markdown/js/dom.js"></script>
    <script src="https://cdn.bootcss.com/codemirror/5.52.0/codemirror.min.js"></script>
    <script src="~/_content/Blazui.Markdown/js/addons.min.js"></script>
    <script src="~/_content/Blazui.Markdown/js/continuelist.js"></script>
    <script src="~/_content/Blazui.Markdown/js/modes.min.js"></script>

     <div class="footer-tongji">
         
         <script>
             var _hmt = _hmt || [];
             (function () {
                 var hm = document.createElement("script");
                 hm.src = "https://hm.baidu.com/hm.js?30e415bb2ebfb3dddddc0c406abb5e0e";
                 var s = document.getElementsByTagName("script")[0];
                 s.parentNode.insertBefore(hm, s);
             })();
         </script>
            <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1278753513&web_id=1278753513"></script>
        </div> 
</body>
</html>