@inherits ReplyNowBase
<div class="reply-now">
    <BCard EnableAlwaysRender="true">
        <Header>
            <div class="content-flex-row custome-button-hover">
                <div style="margin:25px;font-weight:800;">发表回复</div>
                <div style="margin:25px;font-weight:800;position: absolute;right: 10px; " title="Markdown全屏模式">
                    <BButton OnClick="e=>FullScreen()" Type="ButtonType.Text" Icon="el-icon-full-screen"  Style="color:#909399;font-size:20px;"></BButton>
                </div>
            </div>
        </Header>
        <Body>
            <BForm Inline="false" @ref="form" Value="Model" LabelAlign="@LabelAlign.Left" EnableAlwaysRender="true">
                <BFormItem TValue="string" IsRequired="false" Name="@nameof(ReplyModel.Content)" EnableAlwaysRender="true" @ref="formItem">
                    <BMarkdownEditor @ref="bMarkdownEditor" UploadUrl="@(UploadUrl+ UploadPath.Topic.Description())" DisableFileUpload="true" DisableImageUpload="false" Height="300" ImageMaxSize="300" EnableAlwaysRender="true"></BMarkdownEditor>
                    <div>
                        <span class="el-tag el-tag--warning el-tag--light" style="width:100%">温馨提示：上传图片，单张图片最大只允许300k</span>
                    </div>
                </BFormItem>
                <BFormItem TValue="object" Style="text-align:left">
                    <BButton Type="@ButtonType.Success" OnClick="e=>ReplyNow()" IsPlain="true">立即回复</BButton>
                </BFormItem>
            </BForm>
        </Body>
    </BCard>
</div>


