@inherits TopicUserInfoBase
<div class="flex-centor">
    <BCard Style="height:100%;border:none;" Shadow="ShadowShowType.Never" EnableAlwaysRender="true">
        <Header>作者简介</Header>
        <Body>
            @if (TopicUser != null&&!string.IsNullOrWhiteSpace(TopicUser.NickName))
            {
                <p>@($"昵称：{TopicUser.NickName}")</p>
                <p>@($"主贴：{TopicUser.TopicCount}  回帖：{TopicUser.ReplyCount}")</p>
                <p>@($"最后活跃时间：{TopicUser.LastLoginDate.ToString("yyyy-MM-dd")}")</p>
            }
        </Body>
    </BCard>
</div>

