@inherits PageBase
<div class="flex-centor">
    <BCard Style="height:100%;border:none;" Shadow="ShadowShowType.Never" EnableAlwaysRender="true">
        <Header>作者简介</Header>
        <Body>
            @if (User!=null&&!string.IsNullOrWhiteSpace(HotUser.NickName))
            {
                <p>@($"昵称：{HotUser.NickName}")</p>
                <p>@($"主贴：{HotUser.TopicCount}  回帖：{HotUser.ReplyCount}")</p>
                <p>@($"最后活跃时间：{HotUser.LastLoginDate.ToString("yyyy-MM-dd")}")</p>
            }
        </Body>
    </BCard>
</div>

