body {
    margin: 0;
    overflow-y: hidden;
}

    body app {
        display: flex;
        height: 100vh;
    }

.login-container {
    display: flex;
    width: 100%;
    height: 100%;
    /*background-color: #2d3a4b;*/
    align-items: center;
}

register-container {
    display: flex;
    width: 100%;
    height: 100%;
    /*background-color: #2d3a4b;*/
    align-items: center;
}

.register-container form {
    width: 460px;
    margin: 200px 250px 150px auto;
    padding: 0 35px;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    border: 1px solid #EBEEF5;
    background-color: #FFF;
    color: #303133;
    -webkit-transition: .3s;
    transition: .3s;
}

.login-container form .title-container .title {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #3d3d3d;
    text-align: center;
    line-height: 30px;
}

.login-container form {
    width: 460px;
    margin: 150px 250px 150px auto;
    padding: 0 35px;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    border: 1px solid #EBEEF5;
    background-color: #FFF;
    color: #303133;
    -webkit-transition: .3s;
    transition: .3s;
}

    .login-container form .el-form-item {
        border: 1px solid hsla(0,0%,100%,.1);
        background: rgba(0,0,0,.1);
        border-radius: 5px;
        color: #454545;
    }

        .login-container form .el-form-item .el-input input {
            /*background: transparent;*/
            border: 0;
            -webkit-appearance: none;
            border-radius: 0;
            /*color: #fff;*/
            padding-left: 40px;
            /*caret-color: #fff;*/
        }

    .login-container form .title-container .title {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 24px;
        color: #3d3d3d;
        text-align: center;
        line-height: 30px;
    }

.el-header {
    width: 100%;
    text-align: center;
    height: 60px;
    background: #ccc;
}

.el-footer {
    width: 100%;
    text-align: center;
    height: 60px;
    background: #ccc;
}

.el-main {
    /*background-color: #E9EEF3;*/
    /*color: #333;*/
    text-align: center;
}

app > .el-container {
    /*margin-bottom: 40px;*/
}

.login-icon {
    padding: 0 5px;
    text-align: left;
    height: 30px;
    line-height: 30px;
}

    .login-icon > a {
        margin: 0 5px;
    }

    .login-icon > span {
        font-size: 15px;
    }

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

    a:link {
        font-size: 15px;
        color: #000000;
        text-decoration: none;
    }

    a:visited {
        font-size: 15px;
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        font-size: 15px;
        color: #999999;
        text-decoration: none;
    }

html {
    height: 100%;
}

    html body {
        margin: 0;
        padding: 0;
        display: flex;
        height: 100%;
        overflow: hidden;
    }

        html body > app {
            display: flex;
            flex: 1;
            overflow: hidden;
        }

            html body > app div.blaz-layout-west {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                height: 100%;
            }

                html body > app div.blaz-layout-west > ul.el-menu {
                    height: 100%;
                }

                    html body > app div.blaz-layout-west > ul.el-menu > li div.el-submenu__title i {
                        /*display: none;*/
                        color: #fff;
                    }

                    html body > app div.blaz-layout-west > ul.el-menu > li ul.el-menu li.el-menu-item i {
                        /*display: none;*/
                        color: #fff;
                    }

                    html body > app div.blaz-layout-west > ul.el-menu > li > i {
                        /*display: none;*/
                        color: #fff;
                    }

            html body > app div.nav {
                background-color: #7014e8;
            }

                html body > app div.nav > div.container {
                    height: 80px;
                    display: flex;
                    align-items: center;
                }

                    html body > app div.nav > div.container > img {
                        vertical-align: middle;
                    }

                    html body > app div.nav > div.container > div.fill {
                        flex: 1;
                    }

                    html body > app div.nav > div.container > ul.el-menu {
                        background-color: transparent;
                        border-bottom: 1px solid transparent;
                    }

                        html body > app div.nav > div.container > ul.el-menu > li {
                            overflow: hidden;
                        }

                            html body > app div.nav > div.container > ul.el-menu > li > i {
                                /*display: none;*/
                                color: #fff;
                            }

            html body > app div.container {
                margin: 0 365px;
            }

.footer-main {
    text-align: center;
    line-height: 60px;
}

.footer {
    /*background-color: #f6f0f0;*/
    width: 100%;
    text-align: center;
    height: 60px;
    background: #f6f0f0;
}

.el-menu--horizontal > .el-menu-item.is-active {
    border-bottom-color: #409EFF;
}

.content-container {
    margin: 0px 350px;
}

.content-header {
    margin: 0 50px 0px 205px;
}

.content-topic-tab {
    margin: 0 10px 0px 0px;
}

    .content-topic-tab .el-tabs__active-bar {
        background-color: #7014e8;
    }

.content-card {
    overflow: hidden;
}

    .content-card .el-card__body {
        padding: 5px;
    }

.content-ad {
    /*display:none;*/
    border: 1px solid #EBEEF5;
    /*background-color: #FFF;*/
    /*color: #303133;*/
    -webkit-transition: .3s;
    transition: .3s;
}

.ad-container {
    height: 150px;
    /*padding: 10px 10px 10px 0px;*/
    background: #20a0ff;
    /*margin: 0px;*/
    margin: 10px;
}

.content-top {
    background-color: red;
    padding: 0px 0px 10px 0px;
    height: 150px;
}

.content-center {
    padding: 10px 10px 0 10px;
    background-color: crimson;
    height: 450px;
}

app .blaz-layout > .blaz-layout-container > .blaz-layout-center {
    margin-left: 0px;
}

.content-right {
    /*margin-top:10px;*/
    height: 150px;
    width: 100%;
    background: #4ee25e
}

.content-hot {
    height: 300px;
    width: 100%;
    background: #4ee25e
}

.content-footer {
    width: 100%;
    height: 350px;
    background: #4ee25e
}

.main-layout-center .el-card__body {
    max-height: 750px;
    overflow: hidden;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-0 {
    margin-left: 0px;
}

.el-form-item-custom .el-select {
    margin-left: -30px;
}

body > app > div > div.blaz-layout-north.blaz-layout-card > div > div > ul > li.el-menu-item {
    border-bottom: none;
}

    body > app > div > div.blaz-layout-north.blaz-layout-card > div > div > ul > li.el-menu-item.is-active {
        border-bottom: none;
    }

app > div .is-active {
    color: #7014e8;
}

.app-nav-avatar {
    border: none;
    background: transparent;
    padding: 0px;
}

.app-nav-avatar-img {
    width: 50px;
    height: 50px;
    margin: 10px 10px 0px 0px;
    border: none;
    border-radius: 100%;
}

.app-user-menu .el-menu {
    border-right: none;
}



.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.app-user-info {
    font-size: 15px;
}

    .app-user-info .el-form-item__label {
        font-weight: 600;
        padding-right: 30px;
    }

.app-user-password {
    padding-right: 10px;
    padding-left: 10px;
    background: #fdf6ec;
    color: #909399;
    border-color: #E6A23C;
}

    .app-user-password > div {
        display: inline-block;
    }

    .app-user-password .mybind {
        font-weight: bold;
        color: #E6A23C;
        cursor:pointer;
    }
