body {
    margin: 0;
}

    body app {
        display: flex;
        height: 100vh;
    }


.login-container {
    display: flex;
    width: 100%;
    height: 100%;
    /*background-color: #2d3a4b;*/
    align-items: center;
}

    .login-container form {
        width: 460px;
        margin: 0px 250px 150px auto;
        padding: 0 35px;
        /*border: 1px solid #ccc;*/
        box-sizing: border-box;
        border: 1px solid #EBEEF5;
        background-color: #FFF;
        color: #303133;
        -webkit-transition: .3s;
        transition: .3s;
    }

        .login-container form .el-form-item {
            border: 1px solid hsla(0,0%,100%,.1);
            background: rgba(0,0,0,.1);
            border-radius: 5px;
            color: #454545;
        }

            .login-container form .el-form-item .el-input input {
                background: transparent;
                border: 0;
                -webkit-appearance: none;
                border-radius: 0;
                /*color: #fff;*/
                padding-left: 40px;
                /*caret-color: #fff;*/
            }

        .login-container form .title-container .title {
            display: block;
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 24px;
            color: #3d3d3d;
            text-align: center;
            line-height: 30px;
        }

.el-header {
    width: 100%;
    text-align: center;
    height: 60px;
    background: #ccc;
}

.el-footer {
    width: 100%;
    text-align: center;
    height: 60px;
    background: #ccc;
}

.el-main {
    /*background-color: #E9EEF3;*/
    /*color: #333;*/
    text-align: center;
}

app > .el-container {
    /*margin-bottom: 40px;*/
}

.login-icon {
    padding: 0 5px;
    text-align: left;
    height: 30px;
    line-height: 30px;
}

    .login-icon > a {
        margin: 0 5px;
    }

    .login-icon > span {
        font-size: 15px;
    }

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}

    a:link {
        font-size: 15px;
        color: #000000;
        text-decoration: none;
    }

    a:visited {
        font-size: 15px;
        color: #000000;
        text-decoration: none;
    }

    a:hover {
        font-size: 15px;
        color: #999999;
        text-decoration: none;
    }
﻿html {
    height: 100%;
}

html body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    overflow: hidden;
}

    html body > app {
        display: flex;
        flex: 1;
        overflow: hidden;
    }

        html body > app div.blaz-layout-west {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            height: 100%;
        }

            html body > app div.blaz-layout-west > ul.el-menu {
                height: 100%;
            }

                html body > app div.blaz-layout-west > ul.el-menu > li div.el-submenu__title i {
                    /*display: none;*/ color: #fff;
                }

                html body > app div.blaz-layout-west > ul.el-menu > li ul.el-menu li.el-menu-item i {
                    /*display: none;*/ color: #fff;
                }

                html body > app div.blaz-layout-west > ul.el-menu > li > i {
                    /*display: none;*/ color: #fff;
                }

        html body > app div.nav {
            background-color: #20a0ff;
        }

            html body > app div.nav > div.container {
                height: 80px;
                display: flex;
                align-items: center;
            }

                html body > app div.nav > div.container > img {
                    vertical-align: middle;
                }

                html body > app div.nav > div.container > div.fill {
                    flex: 1;
                }

                html body > app div.nav > div.container > ul.el-menu {
                    background-color: transparent;
                    border-bottom: 1px solid transparent;
                }

                    html body > app div.nav > div.container > ul.el-menu > li {
                        overflow: hidden;
                    }

                        html body > app div.nav > div.container > ul.el-menu > li > i {
                            /*display: none;*/
                            color:#fff;
                        }

        html body > app div.container {
            margin: 0 500px;
        }

.footer-main {
    text-align: center;
    line-height: 60px;
}
.footer {
    /*background-color: #f6f0f0;*/
    width: 100%;
    text-align: center;
    height: 60px;
    background: #f6f0f0;
}
.el-menu--horizontal > .el-menu-item.is-active {
    border-bottom-color:  #409EFF;
}