<footer class="footer">
    <div class="container">
        <div class="footer-main">
           @copyright
        </div>
    </div>
</footer>
@code   {

    protected string copyright = " Blazui社区 2020 © blazui.com";
}