
    <div class="margin-top-5 content-east" style="@Style">
        <BLayout NorthHeight="30" EnableAlwaysRender="true">
            <North>
                <div class="newtopic">
                    <AppTop></AppTop>
                </div>
            </North>
            <Center>
                <div class="content-card" style="margin-top:14px;">
                    <BCard Shadow="@ShadowShowType.Never">
                        <Body>
                            <AppRightTop></AppRightTop>
                        </Body>
                    </BCard>
                </div>
            </Center>
            <South>
                <div class="content-card margin-top-10">
                    <BCard Shadow="@ShadowShowType.Never">
                        <Body>
                            <AppRightCenter></AppRightCenter>
                        </Body>
                    </BCard>
                </div>
                <div class="content-card margin-top-10">
                    <BCard Shadow="@ShadowShowType.Never">
                        <Body>
                            <AppRightBottom></AppRightBottom>
                        </Body>
                    </BCard>
                </div>
            </South>
        </BLayout>
    </div>

@code{
    [Parameter]
    public string Style { get; set; } = "";
}