@inherits ComponentBase
@inject NavigationManager navigationManager
<div class="content-header">

    <BLayout Height="50">
        <West>
            <div class="content-topic-tab">
                <BTab TabPosition="@TabPosition.Top">
                    <BTabPanel Title="首页"></BTabPanel>
                    <BTabPanel Title="提问"></BTabPanel>
                    <BTabPanel Title="分享"></BTabPanel>
                    <BTabPanel Title="讨论"></BTabPanel>
                    <BTabPanel Title="建议"></BTabPanel>
                    <BTabPanel Title="公告"></BTabPanel>
                </BTab>
            </div>

        </West>
        <East>
            <div style="margin-left:140px;">
                <BButton Type="@ButtonType.Success" OnClick="e=>NewTopic()">
                    发表新帖
                </BButton>
            </div>
        </East>
        <Center>

        </Center>
    </BLayout>
</div>

@code   {

    internal void NewTopic()
    {
        navigationManager.NavigateTo("new",true);
    }

}