@using Blazui.Community.App.Pages
@layout PersonalCenterLayout
@page "/user/topic"
@inherits PersonalTopicBase

<BTab Type="@TabType.Card" @ref="bTab" EnableAlwaysRender="true">
    <BTabPanel Title="@tabTitle" @ref="bTabPanel" EnableAlwaysRender="true">
        <h3>PersonalTopic</h3>
    </BTabPanel>
</BTab>
