<BCard>
    <Body>
        <BMarkdown Text="@Content"></BMarkdown>
    </Body>
</BCard>

@code {
    [Parameter]
    public object Dialog { get; set; }
    [Parameter]
    public string Content { get; set; }
}