@inherits LayoutComponentBase

<CommunityHeader />
<ElPopup />

<main class="community-shell">
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    页面运行时发生错误。
    <a href="." class="reload">重新加载</a>
    <span class="dismiss">x</span>
</div>
