@layout PersonalCenterLayout
@page "/user/topic"
@inherits PersonalPageBase

<ElCard Shadow="@ShadowShowType.Always" EnableAlwaysRender="true">
    <Body>
        <ElTabs EnableAlwaysRender="true" Type="TabType.Card">
            <ElTabPane Title="乖랙꼈돨" EnableAlwaysRender="true">
                <PersonalTopicPublished></PersonalTopicPublished>
            </ElTabPane>
            <ElTabPane Title="乖쀼릿돨" EnableAlwaysRender="true">
                <PersonalTopicReplied></PersonalTopicReplied>
            </ElTabPane>
            <ElTabPane Title="乖澗꾜돨" EnableAlwaysRender="true">
                <PersonalTopicFollowed></PersonalTopicFollowed>
            </ElTabPane>
        </ElTabs>
    </Body>
</ElCard>