@inherits ChooseRolesDialogBase
@using BlazorCommunity.DTO.Admin

<div style="display:flex;flex-direction:column">
    <div  style=" margin-top: 0px; text-align: center;">
        <ElRadioGroup @bind-SelectedValue="SelectedValue" TValue="string">
            @foreach (var item in Values)
            {
                <ElRadio TValue="string" Model="@item.Id">@item.Name</ElRadio>
            }
        </ElRadioGroup>
    </div>
    <div style=" margin-top: 25px; text-align: center;"> <ElButton Type="@ButtonType.Primary" Plain="true" OnClick="e=>Save()" Style="text-align:center;width:100px;">保存</ElButton></div>
</div>
