@layout PersonalCenterLayout
@page "/user/topic"
@inherits PersonalPageBase

<BCard Shadow="@ShadowShowType.Always" EnableAlwaysRender="true">
    <Body>
        <BTab EnableAlwaysRender="true" Type="TabType.Card">
            <BTabPanel Title="我发布的" EnableAlwaysRender="true">
                <PersonalTopicPublished></PersonalTopicPublished>
            </BTabPanel>
            <BTabPanel Title="我回复的" EnableAlwaysRender="true">
                <PersonalTopicReplied></PersonalTopicReplied>
            </BTabPanel>
            <BTabPanel Title="我收藏的" EnableAlwaysRender="true">
                <PersonalTopicFollowed></PersonalTopicFollowed>
            </BTabPanel>
        </BTab>
    </Body>
</BCard>