
@inherits LayoutComponentBase

<BPopup></BPopup>
<BLayout>
    <North>
<AppHeader></AppHeader>
    </North>
    <Center>
        <BCard Shadow="@ShadowShowType.Never" Style="border:none;">

            <Body>
                @Body
            </Body>
        </BCard>

    </Center>

    <South>
    <AppFooter></AppFooter>
    </South>

</BLayout>

