@inherits LayoutComponentBase
<BPopup></BPopup>
<BLayout >
    <North>
        <div class="account-header"></div>
    </North>
    <Center>
        <BCard Shadow="@ShadowShowType.Never" Style="border:none; border-radius:unset; background: #9900FF; ">
            <Body>
                  @Body 
            </Body>
        </BCard>
    </Center>
    <South>
     <AppFooter></AppFooter>
    </South>
</BLayout>
@code{
    //protected override async Task OnParametersSetAsync()
    //  {
    //      try
    //      {
    //          await base.OnParametersSetAsync();
    //      }
    //      catch (Exception ex)
    //      {
    //          Console.WriteLine("OnParametersSetAsync" + ex.Message);
    //      }
    //  }
    //  protected override async Task OnInitializedAsync()
    //  {
    //      try
    //      {
    //          await base.OnInitializedAsync();
    //      }
    //      catch (Exception ex)
    //      {
    //          Console.WriteLine("OnInitializedAsync" + ex.Message);
    //      }
    //  }
}