@inherits LayoutComponentBase
<BPopup></BPopup>

<BLayout >

    <Center>
        <BCard Shadow="@ShadowShowType.Never" Style="border:none; background:#7014e8">

            <Body>
                @Body
            </Body>
        </BCard>

    </Center>

    <South>
     <AppFooter></AppFooter>
    </South>

</BLayout>