@inherits LayoutComponentBase
<BPopup></BPopup>
<BLayout>
    <North>
        <div class="account-header"></div>
    </North>
    <Center>
        <BCard Shadow="@ShadowShowType.Never" Style="border:none; border-radius:unset; background: #409EFF; ">
            <Body>
                @Body
            </Body>
        </BCard>
    </Center>
    <South>
        <AppFooter></AppFooter>
    </South>
</BLayout>