@inherits LayoutComponentBase
<BPopup></BPopup>
@*<BLayout>
    <Center>
        <BCard Shadow="@ShadowShowType.Never" Style="border:none; border-radius:unset; background: #409EFF; ">
            <Body>
            </Body>
        </BCard>
    </Center>
    <South>
    </South>
</BLayout>*@
<div class="account-container">
    @Body
</div>
<AppFooter></AppFooter>