@inherits LayoutComponentBase
<BPopup></BPopup>

<BLayout >
    <North>
        <div style="height:120px;background:#7014e8"></div>
    </North>
    <Center>
        <BCard Shadow="@ShadowShowType.Never" Style="border:none; border-radius:unset; background:#7014e8">

            <Body>
                @Body
            </Body>
        </BCard>

    </Center>

    <South>
     <AppFooter></AppFooter>
    </South>

</BLayout>