@inherits LayoutComponentBase
<BPopup></BPopup>
<BLayout>
    <North>
        @*<AppHeader></AppHeader>*@
        @*<div class="el-header">
            上边
        </div>*@
        @*<BCard Shadow="@ShadowShowType.Never" Style="">
                <Body>
                    上边
                </Body>
            </BCard>*@
    </North>
    <Center>
        <BCard Shadow="@ShadowShowType.Never" Style="border:none;">

            <Body>
                @Body
            </Body>
        </BCard>

    </Center>

    <South>
     <AppFooter></AppFooter>
    </South>

</BLayout>