@model System.Collections.Generic.List<Blazui.Community.Model.Models.BZTopicModel>
<html>
<head>
    <title>归档</title>
    <meta name="keywords" content="blazor,blazui,admin,blazui.admin,社区,快速,解决问题" />
    <meta name="description" content="Blazor 社区，快速解决你的疑惑" />
</head>
<body>
    <div>
        @*@foreach (var topic in Model)
        {
            <a href="https://www.blazor.group/topic/@{Write(topic.Id);}">@topic.Title</a>
        }*@
    </div>
</body>
</html>

