@inherits FullScreenMarkdownBase

<div class="markdown-fullscreen">
    <ElForm Style="height:100%;margin:0px;padding:0px;" @ref="form" Model="model" LabelPosition="right">
        <ElFormItem TValue="string" Prop="@nameof(NewReplyModel.Content)" Required="false" EnableAlwaysRender="true">
            <ElMarkdownEditor DisableFileUpload="true" DisableImageUpload="false" ImageMaxSize="ConstConfig.MaxUploadFileSize" EnableAlwaysRender="true" UploadUrl="@UploadApiUrl"></ElMarkdownEditor>
        </ElFormItem>
        <ElFormItem TValue="object" Style="text-align:right;position:absolute;top:5px;right:50px;float:right;width:100%;text-align:right;">
            <div class="custome-button-hover">
                <ElButton Type="@ButtonType.Text" Plain="true" OnClick="e => ReplyNow()" Icon="el-icon-check" Style="font-size:20px;color:#606266"></ElButton>
            </div>
        </ElFormItem>
    </ElForm>
</div>