<ElLayout EnableAlwaysRender="true">
    <Center>
        <div class="margin-top-10 margin-left-0">
            <ElLayout NorthHeight="0" EnableAlwaysRender="true">
                <Center>
                    <div style="height:10px;background:#EBEEF5;margin:2px auto;"></div>
                    <div class="content-card">
                        <ElCard Shadow="@ShadowShowType.Never" EnableAlwaysRender="true">
                            <Body>
                                <ContentCenter TopicType="@TopicType" EnableAlwaysRender="true"></ContentCenter>
                            </Body>
                        </ElCard>
                    </div>
                </Center>
            </ElLayout>
        </div>
    </Center>
</ElLayout>

@code{
    [Parameter]
    public int TopicType { get; set; }
}