@inherits ElementComponentBase
<BCard Style="height:100%;border:none;" Shadow="ShadowShowType.Never" EnableAlwaysRender="true">
    <Header>@Title</Header>
    <Body>
        @foreach (var hot in Datas)
        {
            <HotItem Hot="@hot"  OnClick="e=>ItemClick(hot.Id)" EnableAlwaysRender="true"></HotItem>
        }
    </Body>
</BCard>
