@inherits ElementComponentBase
<div class="content-center">

    <ElTabs EnableAlwaysRender="true" @ref="tab" OnActiveTabChanged="ActiveTabChanged">
        <ElTabPane Title="履북" EnableAlwaysRender="true" @ref="tabPanel_Comprehensive">
            <TopicTabItem OrderType="0" TopicType="@TopicType" EnableAlwaysRender="true"></TopicTabItem>
        </ElTabPane>
        <ElTabPane Title="훙폭" EnableAlwaysRender="true" @ref="tabPanel_Hot">
            <TopicTabItem OrderType="1" TopicType="@TopicType" EnableAlwaysRender="true"></TopicTabItem>
        </ElTabPane>
        <ElTabPane Title="쑹빽" EnableAlwaysRender="true" @ref="tabPanel_Best">
            <TopicTabItem OrderType="2" TopicType="@TopicType" EnableAlwaysRender="true"></TopicTabItem>
        </ElTabPane>
        <ElTabPane Title="綠써" EnableAlwaysRender="true" @ref="tabPanel_End">
            <TopicTabItem OrderType="3" TopicType="@TopicType" EnableAlwaysRender="true"></TopicTabItem>
        </ElTabPane>
    </ElTabs>
</div>
@code {

}