@inherits ElementComponentBase
<ElTabPane Title="@Title" EnableAlwaysRender="true">
    <ElLayout WestWidth="0" NorthHeight="0" EnableAlwaysRender="true">
        <Center>
            @if (TopicType == -1)
            {
                <ElLayout EnableAlwaysRender="true" NorthHeight="150">
                    <North>
                        <ContentBanner></ContentBanner>
                    </North>
                    <Center>
                        <div class="margin-top-10 margin-left-0">
                            <ElLayout>
                                <Center>
                                    <div class="content-card">
                                        <ElCard Shadow="@ShadowShowType.Never" EnableAlwaysRender="true">
                                            <Body>
                                                <ContentTop EnableAlwaysRender="true"></ContentTop>
                                            </Body>
                                        </ElCard>
                                    </div>
                                    <div style="height:10px;background:#EBEEF5;margin:2px auto;"></div>
                                    <div class="content-card">
                                        <ElCard Shadow="@ShadowShowType.Never" EnableAlwaysRender="true">
                                            <Body>
                                                <ContentCenter TopicType="TopicType" EnableAlwaysRender="true"> </ContentCenter>
                                            </Body>
                                        </ElCard>
                                    </div>
                                </Center>
                            </ElLayout>
                        </div>
                    </Center>
                </ElLayout>
            }
            else if (TopicType == (int)TopicCategory.Ask)
            {
                <MainContentItem TopicType="TopicType"></MainContentItem>
            }
            else if (TopicType == (int)TopicCategory.Share)
            {
                <MainContentItem TopicType="TopicType"></MainContentItem>
            }
            else if (TopicType == (int)TopicCategory.Discuss)
            {
                <MainContentItem TopicType="TopicType"></MainContentItem>
            }
            else if (TopicType == (int)TopicCategory.Suggest)
            {
                <MainContentItem TopicType="TopicType"></MainContentItem>
            }
            else if (TopicType == (int)TopicCategory.Notice)
            {
                <MainContentItem TopicType="TopicType"></MainContentItem>
            }
            else if (TopicType == (int)TopicCategory.Doc)
            {
                <MainContentItem TopicType="TopicType"></MainContentItem>
            }
        </Center>
    </ElLayout>
</ElTabPane>