@inherits MainLayoutBase

<BPopup></BPopup>
<BLayout>
    <North>
        <AppHeader></AppHeader>
    </North>
    <Center>
        <div  class="main-layout-center">
            <BCard Shadow="@ShadowShowType.Never" Style="border:none;">

                <Body>
                    @Body
                </Body>
            </BCard>
        </div>

    </Center>

    <South>
        <AppFooter></AppFooter>
    </South>

</BLayout>

