@model Arch.EntityFrameworkCore.UnitOfWork.Collections.IPagedList<Blazui.Community.Model.Models.BZTopicModel>
<html>
<head>
    <meta charset="utf-8">
    <title>Blazor 社区，快速解决你的疑惑</title>
        <meta name="keywords" content="blazor,blazui,admin,blazui.admin,社区,快速,解决问题" />
        <meta name="description" content="Blazor 社区，快速解决你的疑惑" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer">
    </head>
<body>
    <div style="display: flex; flex-direction: column;">
        @foreach (var topic in Model.Items)
        {
        <div style="display:inline-flex;margin:10px auto">
            <a href="http://www.blazor.group/topic/@{Write(topic.Id);}">@topic.Title</a>
        </div>
        }
    </div>
    <div style="text-align: center;margin-top:20px;">
        @for (int i = 0; i < Model.TotalPages; i++)
        {
            <a style="padding:10px;border: 1px solid #cccccc80;border-right:none !important" href="https://www.blazor.group/archive/@(i)/10">@(i+1)</a>
        }
    </div>

</body>
</html>

